# Server Configuration
NODE_ENV=development
PORT=8000
SERVER_URL=http://localhost:8000
CLIENT_URL=http://localhost:8000/api/auth/Home

# Database Configuration
MONGO_URI=mongodb+srv://synchubb:j6LgHXgF8j3hgPlv@cluster0.6su60.mongodb.net/authDB

# Redis Configuration
REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=your_redis_password
REDIS_DB=0

# Session Configuration
SESSION_SECRET=your_session_secret

# OAuth Configuration
GOOGLE_CLIENT_ID=1075886016697-qs5svce9mkl01kt7ukv3g1ooq555fkn7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GITHUB_CLIENT_ID=Ov23liylfwydkt30CJlW
GITHUB_CLIENT_SECRET=4cb2f8ac317b086531c1866148b4c6912fe1cfe4
ACCESS_TOKEN_EXPIRY=1hr
ACCESS_TOKEN_SECRET=divsync
EMAIL=synchubb2@gmail.com
PASSWORD=uyyc vjvd jnys xqra
REFRESH_TOKEN_EXPIRY=5d
REFRESH_TOKEN_SECRET=divsyncujjwal

REDIS_URL=rediss://red-cvrbrcur433s73b870ig:l0T4fDdtjCBeSg5ReOZVkK3b1C6mTLon@oregon-keyvalue.render.com:6379
REDIS_PASSWORD=your_redis_password
REDIS_DB=0


